{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "import"
  ],
  "env": {
    "es6": true
  },
  "overrides": [
    {
      "files": [
        "examples/**/*.{js,jsx,ts,tsx}",
        "fure-view/**/*.{js,jsx,ts,tsx}"
      ],
      "env": {
        "browser": true
      }
    },
    {
      "files": [
        "examples/**/main/**/*.{js,jsx,ts,tsx}",
        "fure-core/**/*.{js,ts}",
        "fure-main/**/*.{js,ts}"
      ],
      "env": {
        "node": true
      }
    }
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": "error",
    "prefer-template": "error",
    "eol-last": "error",
    "curly": [
      "error",
      "multi-line"
    ],
    "no-duplicate-imports": "error",
    "no-warning-comments": [
      "warn",
      {
        "terms": [
          "todo",
          "fixme"
        ],
        "location": "start"
      }
    ],
    "semi": "error",
    "no-extra-semi": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-var": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "indent": "off",
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "new-parens": "error",
    "import/no-extraneous-dependencies": "error",
    "import/first": "error",
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      2
    ]
  },
  "settings": {
    "react": {
      "version": "detected"
    }
  }
}