body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root .Furegame {
  max-width: 100vw;
  max-height: 100vh;
}

#root .button {
  pointer-events: visible;
  cursor: pointer;
}

#root #helper>* {
  background: #00000033;
  max-width: 30%;
  color: #eee;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}
#root #helper .button:hover {
  color: #fff;
}
#root #helper .button.selected {
  background: #00000066;
}
