body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root .Furegame {
  max-height: 100%;
}

#root .button {
  pointer-events: visible;
  cursor: pointer;
}

#root #helper>* {
  background: #00000033;
  max-width: 30%;
  color: #eee;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}
#root #helper .button:hover {
  color: #fff;
}
#root #helper .button.selected {
  background: #00000066;
}

#root>#back {
  position: absolute;
  bottom: 3vh;
  right: 0;
  width: 5em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  color: #fff;
  background: #00000033;
  cursor: pointer;
}
#root>#back::before {
  content: "";
  position: absolute;
  left: -0.8em;
  border-top: transparent solid 0.8em;
  border-bottom: transparent solid 0.8em;
  border-right: #00000033 solid 0.8em;
}
